* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: url(image.jpeg) no-repeat center / cover;
    padding: 50px 7%;
}

#un {

    position: relative;
    height: 100%;
    background: rgba(255, 255, 255, .1);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 30px;
    backdrop-filter: blur(20px);

}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px;
 
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

#deux {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

#s a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 25px;
    border-bottom: 2px solid transparent;
    transition: .5s;
}

#s a:hover, #s a.active {
    border-color: #fff;

}

h1 {
    text-align: center;
    margin-top: 120px;
    font-size: 55px;
    color: #fff;
}

#acceuil {
    display: flex;
  margin-top: 140px;
    height: 100%;
    gap: 50px;
    padding: 0 5% 0;
    color: #fff;
}

#acceuil-d h2 {
    font-size: 55px;
    line-height: 1;

}



#acceuil-d p {
    margin: 10px 0 20px;
    font-size: 25px;
}